<%- include("./header"); %>

<div class="mt-28">
    <div class=" flex justify-center items-center mt-5">
      <div class="w-full max-w-xl">
          <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" >
       <div style="display: flex; justify-content: space-between;"> 
           <h1 class="block text-gray-700 text-xl font-bold mb-2" > Create NFT </h1> 
           <!-- wallet connection -->
           <button class="connect pb-5 flex justify-end" id="modalBtn" >  <p class="mt-2 create" >Connect Wallet</p><img class="w-5 h-5" style="margin-top: 9px; margin-left: 8px;" src="https://cdn-icons-png.flaticon.com/512/214/214362.png"/>  </button>
        </div>
        <div class="wallet-modal">
            <div id="simpleModal" class="modal-overlay mt-24 md:mt-0" hidden>
                <div class="modal-content rounded">
                  <div class="modal-header bg-blue-800">
                      <span class="closeBtn"> <img class="w-8 text-white" src="./assets/closemodal.svg"/> </span>
                      <h2>Connect your Wallet</h2>
                  </div>
                  <div class="modal-body">
                    <div class="flex inline-flex w-full " onclick="myAlgoWalletConnect()">
                        <button class="flex border rounded border-gray-700 inline-flex w-full hover:text-white hover:bg-gray-700" href="">
                            <img style="margin-top: 10px; margin-left: 10px;" class="w-7 text-white " src="https://i.postimg.cc/76r9kXSr/My-Algo-Logo-4c21daa4.png" alt="algorand" srcset="">
                            <p class="pt-3" style="margin-left: 10px;" > My Algo Wallet</p>
                        </button>
                    </div>

                 <div class="flex inline-flex w-full " onclick="algoSignerConnect()" >
                     <button class="flex border rounded border-gray-700 inline-flex w-full hover:text-white hover:bg-gray-700" href="">
                         <img style="margin-top: 10px; margin-left: 10px;" class="w-7 text-white " src="https://i.postimg.cc/L4JB4JwT/Algo-Signer-2ec35000.png" alt="algosigner" srcset="">
                         <p class="pt-3" style="margin-left: 10px;" > Algosigner</p>
                     </button>
                </div>
                <div class="flex inline-flex w-full " onclick="connectWallet()">
                     <button class="flex border rounded border-gray-700 inline-flex w-full hover:text-white hover:bg-gray-700" href="">
                         <img class="w-12 text-white " src="./assets/algorandlogo.svg" alt="algorand" srcset="">
                         <p class="pt-3" >Algorand Mobile Wallet</p>
                     </button>
              </div>
                  </div>
               
                </div>
              </div>
        </div>
        <div class="mb-2">
      
      <input id="electionTitle" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="electionTitle" type="text" placeholder="Enter TItle"  >
    </div>
    <p id="title" class="italic" style="color: red;">Please note that 10 $choice will be commited to generate NFT</p>

	<div class="imageUpload mt-3">
            
		<div class="center" style="margin: 10px;">
		 <div class="form-input" >
		   <div class="preview" >
			 <img id="file-ip-1-preview">
		   </div>
		   <label id="change" class="bg-gray-700" for="file-ip-1">Upload Image</label>
		   <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
		   
		 </div>
	   </div> 
		</div>
     <a href="./addparticipant.html" class="bg-gray-700 mt-2 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >CREATE NFT</a>
  </div>
      </div>
  </div>
  </div>
  <script>
	  function showPreview(event){
  if(event.target.files.length > 0){
    let change = document.getElementById("change");
    let src = URL.createObjectURL(event.target.files[0]);
    let preview = document.getElementById("file-ip-1-preview");
    change.innerText = "change image";
    preview.src = src;
    
    preview.style.padding = "20px";
    preview.style.display = "block";
  }
}
  </script>
<script src="../script.js"></script>
